
<section class="cart-show">

  <header class="page-header">
  <div class="order-summary">
    <h1>Thank you for your order</h1>
    <p>
      Here is your order number for reference: <%= @order.id %>
    </p>
    <p>
      Here is a list of the items in this order:
    </p>
  </div
  </header>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% @order.line_items.each do |item| %>
        <%= render 'line_item', product: item.product, quantity: item.quantity.to_i%>
      <% end %>
      </tbody>
    </table>
    <p>Order Total: <%= @order.total %>
    <p>We hope to see you shop with us again, have a great day!</p>
  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
