<tr>
  <ul>
    <div>
      <% if review.description && current_user %>
        <%= current_user.name %>
      <% end %>
    </div>
    <div>
      <%= review.description%>
    </div>
    <div>
      <%= review.rating %>
    </div>
  </ul>
</tr>
