<tr>
  <ul>
    <div>
      <% if current_user && review.description %>
        <p>Name: <%= review.user_id %> </p>
      <% end %>
    </div>
    <div>
      <% if current_user && review.description %>
        <p>Description: <%= review.description%> </p>
      <% end %>
    </div>
    <div>
      <% if current_user && review.description %>
        <p>Rating: <%= review.rating %> </p>
      <% end %>
    </div>
  </ul>
</tr>
